<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MathNet.Numerics" version="3.9.0" targetFramework="net4" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net4" />
  <package id="OxyPlot.Core" version="2013.1.38.1" targetFramework="net4" />
  <package id="OxyPlot.Wpf" version="2013.1.38.1" targetFramework="net4" />
</packages>